body,
html {
    height: 100vh;
    /* padding: 5px; */
    background-color: #4120A9;

}
h1,
h2 {
  font-family: "Georgia", Times, "Times New Roman", serif;
}
nav{

    margin-bottom: 5px;

}


#main-menu-bar{

  background-image: url('../images/luke-chesser-hQo6Uyo4nBg-unsplash.jpg');
}

a,
p,
div,
button {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #A1A9FE;

}

p{

    color: darkgray;
    font-size: 1rem !important;
    padding: 0px 5px;
}

.navbar{

    background-color:#4120A9;
    color: #A1A9FE  !important;
    justify-content: center !important;
    border-top: thin solid #A1A9FE;
    border-bottom: thin solid #A1A9FE;
}

#tech-row{
  border-top: solid thin  #A1A9FE;
  font-size: 1rem;
  padding-top: 10px;



}

h4{

  color: #db7b7d;
}
#tech{

  color: #A1A9FE !important;
}

.navbar-text{

    color: #A1A9FE  !important;
    text-align: center !important;
}
.parallax-1{

    height:100px;
}
.nav-item{

    color: #A1A9FE !important;
}

.about-section{

    height: fit-content;
    background-color:#4120A9;
    font-size: 1.5rem;
    padding: 50px 5px 50px 10px;
    border-top: thin solid #A1A9FE;
    border-bottom: thin solid #A1A9FE;
}

.portfolio-section{

    height: fit-content;
    background-color:#4120A9;
    font-size:36px;
    padding: 50px 5px 50px 10px;
    border-top: thin solid #A1A9FE;
    border-bottom: thin solid #A1A9FE;
}


.contact-section{

    height: fit-content;
    background-color:#4120A9;
    font-size:36px;
    padding: 50px 5px 50px 10px;
    border-top: thin solid #A1A9FE;
    /* border-bottom: thin solid #A1A9FE; */
}

.card{

    margin-bottom: 100px;

}

a {
    /*Remove the underline from the hyperlinks*/
    text-decoration: none;
 
  }

  .fa{

    margin: 10px;
  }

  .carousel-control-next-icon{
      color: black;
  }

  p{

    font-size: 1rem;
  }
  .text-silver {
    color: silver;
  }

  .text-darkgray{

    color:darkgray;
  }
.text-coral{

    color: #db7b7d;
}
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

  .index-picture-1-section {
    position: relative;
    line-height: 1.8;
    /* float: inline-start; */
    padding-left: 20px;
    padding-right: 20px;
  
  }

  .img-portfolio {
    /*Images on the portfolio page are different than others*/
    /* float: left; */
    width: 200px;
    height: 200px;
    border: solid white 5px;
  }

  span,.icon-line-height{

    line-height: 2.2;
    padding: 0px 2px;
  }

  img {
    float: left;
    width: 100%;
    height: 100%;
    
  }

  .index-picture-1-section {
    position: relative;
    line-height: 1.8;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  
  }

.parallax {
    /* The image used */
    background-image: url('../images/fabrizio-conti-kXVogATbFgA-unsplash.jpg');

    /* Full height */
    height: 15%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }


  #picture-1-section {
    position: relative;
    width: 300px;
    height: 200px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* border-left: solid white 5px; */
    /* border-right: solid white 5px; */
  }
  
  #portfolio-picture-label1 {
    height: 70px;
    background-color: #A1A9FE;
    width: 100%;
    text-align: center;
    padding-top: 8px;
  }

  .light-coral-text{

    color: #e7cecf ;
    text-decoration: none;
  }

  .iris-text{

    color: #4120A9;
  }


  /* deconstructed */

  